{% ckan_extends %}

{% block content_primary_nav %}
    {{ h.build_nav_icon('dataset_read', _('Dataset'), id=pkg.name) }}

    {% if c.userobj %}
        {{ h.build_nav_icon('dataset_groups', _('Groups'), id=pkg.name) }}
        {{ h.build_nav_icon('related_list', _('Related'), id=pkg.name) }}
    {% endif %}

    {{ h.build_nav_icon('dataset_activity', _('Activity Stream'), id=pkg.name) }}

{% endblock %}


  {% block package_info %}
  {% endblock %}


{% block package_social %}

    {% if pkg['related_list'] %}
        {% snippet "related/snippets/related_list_small.html", related_items=pkg['related_list'], pkg_id=pkg.name %}

    {% endif %}

    {{ super() }}
{% endblock %}
