{% ckan_extends %}

{% block head_extras %}
  {{ super() }}
  <script type="text/javascript">var disqus_title =  'Données Québec - {{pkg['title']}} >> {{pkg['organization']['title']}}' ;</script>
{% endblock %}


{% block page_header %}
{% if c.userobj %}
  <header class="module-content page-header">

    {% if self.content_action() | trim %}
      <div class="content_action">
          {% if h.check_access('package_update', {'id':pkg.id }) %}
    {% link_for _('Manage'), controller='package', action='edit', id=pkg.name, class_='btn', icon='wrench' %}
  {% endif %}
      </div>
    {% endif %}
    <ul class="nav nav-tabs">

        {{ h.build_nav_icon('dataset_read', _('Dataset'), id=pkg.name) }}
        {{ h.build_nav_icon('dataset_groups', _('Groups'), id=pkg.name) }}
        {{ h.build_nav_icon('related_list', _('Related'), id=pkg.name) }}
        {{ h.build_nav_icon('dataset_activity', _('Activity Stream'), id=pkg.name) }}
    </ul>
  </header>
{% endif %}
{% endblock %}



  {% block package_info %}
  {% endblock %}


