{% ckan_extends %}


      {% block header_site_navigation %}
        <nav class="section navigation">
          <ul class="nav nav-pills">
            {% block header_site_navigation_tabs %}
            <li><a href="#">{{ _('Datasets') }}</a>
	  				<ul>
	  					<li><a href="{{ h.url_for(controller='package', action='search') }}">Toutes les données</a></li>
	  					<li><a href="{{ h.url_for(controller='group', action='index') }}">Par thématique</a></li>
	  					<li><a href="{{ h.url_for(controller='tag', action='index') }}">Par mots-clés</a></li>
	  					<li><a href="{{ h.url_for(controller='ckanext.donneesqctheme.controller:SuggestController', action='suggest_form') }}">Suggérer un jeu de données</a></li>
	  				</ul>                  
             </li>
            <li><a href="{{ h.url_for(controller='organization', action='index') }}">{{ _('Publieurs') }}</a>             
             </li>  
            <li><a href="{{ h.url_for(controller='related', action='dashboard') }}">{{ _('Réutilisations') }}</a>             
             </li>                 
             <li><a href="#">{{ _('Utilisateurs') }}</a>             
	  				<ul>
	  					<li><a href="/content/api-catalogue/">API du catalogue</a></li>
	  					<li><a href="/content/api-donnees/">API de données</a></li>	  					
	  					<li><a href="{{ h.url_for(controller='ckanext.donneesqctheme.controller:SuggestController', action='suggest_form') }}">Soumettre une utilisation</a></li>

	  				</ul>                  
             </li>  
             <li><a href="#">{{ _('Interagir') }}</a>             
	  				<ul>
	  					<li><a href="/content/a-propos/">À propos de Données Québec</a></li>
	  					<li><a href="{{ h.url_for(controller='ckanext.donneesqctheme.controller:ContactController', action='contact_form') }}">Nous contacter</a></li>
	  					<li><a href="/content/">Billets de blogue</a></li>
	  					<li><a href="/content/a-propos/">À propos de Données Québec</a></li>
	  				</ul>                  
             </li>                                   
            {% endblock %}
          </ul>
        </nav>
      {% endblock %}