{% ckan_extends %}


      {% block header_site_navigation %}
        <nav class="section navigation">
          <ul class="nav nav-pills">
            {% block header_site_navigation_tabs %}
            <li><a href="#">{{ _('Datasets') }}</a>
	  				<ul>
	  					<li><a href="{{ h.url_for(controller='package', action='search') }}">Toutes les données</a></li>
	  					<li><a href="{{ h.url_for(controller='group', action='index') }}">Par thématique</a></li>
	  					<li><a href="{{ h.url_for(controller='tag', action='index') }}">Par mots-clés</a></li>
	  					<li><a href="{{ h.url_for(controller='ckanext.donneesqctheme.controller:SuggestController', action='suggest_form') }}">Suggérer un jeu de données</a></li>
	  				</ul>                  
             </li>
            <li><a href="{{ h.url_for(controller='organization', action='index') }}">{{ _('Publieurs') }}</a>             
             </li>                  
             <li><a href="#">{{ _('Applications') }}</a>             
	  				<ul>
	  					<li><a href="{{ h.url_for(controller='related', action='dashboard') }}">Galerie de réutilisations de données</a></li>
              <li><a href="{{ h.url_for(controller='ckanext.donneesqctheme.controller:SuggestController', action='suggest_form') }}">Soumettre une réutilisation</a></li>
	  					<li><a href="/content/acces-api">Les APIs de Données Québec</a></li>	  					
	  				</ul>                  
             </li>  
             <li><a href="#">{{ _('Interagir') }}</a>             
	  				<ul>
	  					<li><a href="/content/a-propos/">À propos de Données Québec</a></li>
	  					<li><a href="{{ h.url_for(controller='ckanext.donneesqctheme.controller:ContactController', action='contact_form') }}">Nous contacter</a></li>
	  					<li><a href="/content/">Blogue</a></li>
	  				</ul>                  
             </li>                                   
            {% endblock %}
          </ul>
        </nav>
      {% endblock %}