<div class="control-group">
  {% set error = errors[field.field_name] %}
  {% set languages = [
      ('Français', 'FR'), 
      ('Français et anglais', 'FR,EN'), 
      ('Anglais', 'EN')
  
  ] %}
  <label class="control-label" for="field-license">{{
     h.scheming_language_text(field.label) }}</label>
  <div class="controls">
    <select id="field-{{ field.field_name }}" name="{{ field.field_name }}"
      data-module="autocomplete">
      {% for language_desc, language_id in languages  %}
        <option value="{{ language_id }}">{{ language_desc }}</option>
      {% endfor %}
    </select>
    {% if error %}<span class="error-block">{{ error }}</span>{% endif %}
  </div>
</div>
