<div class="module-content lower-content">
  <div "drupal-last">

        <div id="block-views-last-articles-block" class="block block-views">

            <h2>Les derniers articles</h2>
          
          <div class="content">
            
        <div class="view view-last-articles view-id-last_articles view-display-id-block view-dom-id-7352fc9852e926c0b66c499413f28563">
              <div class="view-content">
                <div class="views-row views-row-1 views-row-odd views-row-first last-articles">
              
          <div class="views-field views-field-field-image">        <div class="field-content"><img typeof="foaf:Image" src="http://yoshi.boxkite.ca:8000/sites/default/files/styles/medium/public/field/image/meh_1.png?itok=mwOmx50Z" width="220" height="220" alt="" /></div>  </div>  
          <div class="views-field views-field-title">        <span class="field-content"><a href="/content/?q=node/3">Info-neige: une utilisation pratique</a></span>  </div>  
          <div class="views-field views-field-name">        <span class="field-content">Publié par <a href="/content/?q=user/1" title="Voir le profil utilisateur." class="username" xml:lang="" about="/?q=user/1" typeof="sioc:UserAccount" property="foaf:name" datatype="">donneesqc</a></span>  </div>  
          <div class="views-field views-field-body">        <div class="field-content"><p>Découvrez comment les citoyens de Montréal peuvent désormais être avertis des opérations de déneigement</p>
        </div>  </div>  </div>
          <div class="views-row views-row-2 views-row-even last-articles">
              
          <div class="views-field views-field-field-image">        <div class="field-content"><img typeof="foaf:Image" src="http://yoshi.boxkite.ca:8000/sites/default/files/styles/medium/public/field/image/meh_0.png?itok=tGKhKWdo" width="220" height="220" alt="" /></div>  </div>  
          <div class="views-field views-field-title">        <span class="field-content"><a href="/content/?q=node/2">Bienvenue sur Données Québec</a></span>  </div>  
          <div class="views-field views-field-name">        <span class="field-content">Publié par <a href="/content/?q=user/1" title="Voir le profil utilisateur." class="username" xml:lang="" about="/?q=user/1" typeof="sioc:UserAccount" property="foaf:name" datatype="">donneesqc</a></span>  </div>  
          <div class="views-field views-field-body">        <div class="field-content"><p>Une initiation pan-québécoise d'ouverte de données et de gouvernement ouverts pour tous!</p>
        </div>  </div>  </div>
          <div class="views-row views-row-3 views-row-odd views-row-last last-articles">
              
          <div class="views-field views-field-field-image">        <div class="field-content"><img typeof="foaf:Image" src="http://yoshi.boxkite.ca:8000/sites/default/files/styles/medium/public/field/image/meh.png?itok=7xkLoJPK" width="220" height="220" alt="" /></div>  </div>  
          <div class="views-field views-field-title">        <span class="field-content"><a href="/content/?q=node/1">Rapport annuel de Données.Québec</a></span>  </div>  
          <div class="views-field views-field-name">        <span class="field-content">Publié par <a href="/content/?q=user/1" title="Voir le profil utilisateur." class="username" xml:lang="" about="/content/?q=user/1" typeof="sioc:UserAccount" property="foaf:name" datatype="">donneesqc</a></span>  </div>  
          <div class="views-field views-field-body">        <div class="field-content"><p>Nouvelles importants pour l'année 2014 et perspectives pour les années à venir</p>
        </div>  </div>  </div>
            </div>
          
        </div>  </div>
        </div>

  </div>
  <div class="twitter-feed">
  <h2>Sur Twitter</h2>
  <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/hashtag/opendata" data-widget-id="576377731102961664">#opendata Tweets</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </div>





</div>