{% set intro = g.site_intro_text %}
{% set carousel = h.get_carousel_content() %}

<div class="module-content box intro-text">
  <header>
    {% if carousel %}
      {{carousel|safe}}
    {% else %}
      <h1 class="page-heading">{{ _("Welcome to CKAN") }}</h1>
      <p>
        {% trans %}This is a nice introductory paragraph about CKAN or the site
        in general. We don't have any copy to go here yet but soon we will
        {% endtrans %}
      </p>
    {% endif %}
  </header>





</div>