{% extends "page.html" %}


{% block primary_content %}
  <article class="module">
    <div class="module-content">
      <h1 class="page-heading">Merci!</h1>
      <p>Votre commentaires a été envoyé avec succès. Nous vous répondrons dès que possible.</p>

    </div>
  </article>
{% endblock %}

{% block secondary_content %}
<div class="module module-narrow module-shallow">
  <h2 class="module-heading">
    <i class="icon-info-sign"></i>
    {{ _('Contact Us') }}
  </h2>
  <div class="module-content">
    <p>
      Des questions? Des commentaires? N'hésitez pas à nous contacter!
    </p>
  </div>
</div>
{% endblock %}