{% import 'macros/form.html' as form %}

<form class="dataset-form form-horizontal" method="post">
  {{ form.errors(error_summary) }}

  <fieldset>

    {{ form.input('name', label=_('Votre nom'), id='field-name', value=data.name, error=errors.name, classes=['control-medium'], is_required=true) }}

    {{ form.input('email', label=_('Courriel'), id='field-email', type='email', value=data.email, error=errors.email, classes=['control-medium'], is_required=true) }}


    {{ form.select('organization', label=_('Organisation visée'), id='field-organization', options=h.get_organizations() , error=errors.organization, classes=['control-medium']) }}

    {{ form.input('url', label=_('URL'), id='field-url', type='url', value=data.url, error=errors.url, classes=['control-medium'], placeholder=_('http://url.de.mon.application.net/'), is_required=true) }}


    {{ form.markdown('suggestion', label=_('Description de votre utilisation'), id='field-suggestion', value=data.suggestion, error=errors.suggestion, placeholder=_('De quel type d\'utilisation s\'agit-il (application, visualisation, etc.)? Quel est l\'intérêt de votre réalisation?'), is_required=true) }}


  {% if g.recaptcha_publickey %}
    {% snippet "user/snippets/recaptcha.html", public_key=g.recaptcha_publickey %}
  {% endif %}

  </fieldset>

  <div class="form-actions">
    {{ form.required_message() }}
    <button class="btn btn-primary" type="submit" name="save">{{ _('Submit') }}</button>
  </div>
</form>
