{% extends "page.html" %}


{% block primary_content %}
  <article class="module">
    <div class="module-content">
      <h1 class="page-heading">Suggérez-nous un jeu de données</h1>
      <p>Veuillez prendre note que le présent formulaire vise à suggérer la publication d'un jeu de données et n'est pas une demande d'accès aux documents officielle.</p>
      <br/>

      {{ c.form | safe }}

    </div>
  </article>
{% endblock %}

{% block secondary_content %}
<div class="module module-narrow module-shallow">
  <h2 class="module-heading">
    <i class="icon-info-sign"></i>
    {{ _('Suggestion') }}
  </h2>
  <div class="module-content">
    <p>
      Vous avez besoin d'un jeu de données mais il n'est pas disponible sur la plateforme? Faites-nous part de votre demande.
    </p>
  </div>
</div>
{% endblock %}